repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-yaml
  - id: end-of-file-fixer
  - id: flake8
  - id: trailing-whitespace
